body{
    background-color: cornflowerblue;
}
a{
    background-color: brown;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

a:hover
{

}

#main
{
    margin-top: 20px;
}

.logo img{
    height: 100px;
    margin: 10px;
}

.logo h1{
    margin-top: 30px;
    text-align: center;
}

.menu
{
    margin: 10px;


}

.stroka
{
    background-color: yellow;
}

table,tr,td
{
    border-style:solid;
    border-color:white;
    border-width:1px;
    padding: 5px;
}

#pifagor
{
    text-align: center;
    margin: 0 auto;
}

.content
{

}

input
{
    background-color: grey;
    font: 150% bold sans-serif ;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

input:hover{
    background-color: white;
}

.kosti{
    background-color: green;
    margin-left: 15px;
    padding: 2%;
    border-radius: 10px;
    border: 5px double white;
    text-align: center;
}

.kosti_header{
    margin:4%;
    color: white;
    font-style: italic;
    font-size: large;

}