body
{
    background: url("../img/1.jpg");
    background-color: black;
    color: white;
}

a
{
    background-color: black;
    padding: 10px;
    display: block;
    width: 150px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
}

a:hover
{
    background-color: red;
    color: white;
}