body
{
    background-color: black;
}

a
{
    background-color: cornsilk;
    padding: 10px;
    display: block;
    width: 150px;
    text-decoration: none;
    border-radius: 20px;
}

a:hover
{
    background-color: red;
    color: white;
}